.header {
    background-color: #fff;
    padding: 40px 60px;
    font-family: Roboto, sans-serif;

    .navbar {
        position: relative;

        & > * {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .navLinks {
            left: 0;
            display: flex;
            gap: 30px;

            .navLink {
                text-decoration: none;
                color: #7b8c9f;
                font-size: 14px;

                &:hover {
                    color: #49cc68;
                }
            }
        }

        .logo {
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            cursor: pointer;
        }

        .loginButton {
            width: 100px;
            right: 0;
            background-color: #49cc68;
            color: #fff;
            border: none;
            border-radius: 40px;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background-color: #49cc68dd;
            }
        }
    }
}
